<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
</head>
<body>
    
    <header class="header">
        <div class="container">
            <a class="brand" href="@this.Url.Action("Index", "Home")">
                <h1>
                    Sprite Maker
                </h1>
            </a>
        </div>
    </header>

    <div class="container">
        @this.RenderBody()
    </div>

    <footer class="footer">

    </footer>

    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script defer src="~/Scripts/common.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
